/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* font-family */
@font-face {
    font-family: 'Helvetica Ultimate Family Fonts';
    src: url('assets/fonts/Helvetica-Black.otf') format('opentype');
    src: url('assets/fonts/Helvetica-Bold.otf') format('opentype');
    src: url('assets/fonts/Helvetica Bold.otf') format('opentype');  
   
  }
body{
   font-family: Helvetica;
}

.vegas-page{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%;
}
.container-fluid.vegas-page{
    padding: 0
}
.header-section-wrapper{
    background-image: url('../assets/mobile-header-bg.png');
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 21px;
    background-position: top right;
    
}
.container-fluid.vegas-page .header-section-wrapper .navbar.navbar-expand-sm span.navbar-toggler.dropdown-menu-bar{
    border-radius: 13px;
    background-color: #fff;
    border: solid 1px #fff;
    font-size: 8px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    text-align: right;
    color: #0e0e77;
    padding: 8px 26px;
    text-transform: uppercase;
}
.header-section-wrapper .navbar.navbar-expand-sm .collapse.navbar-collapse.dropdown-menu{
    justify-content: flex-end;
    position: absolute;
    top: 55px;
    background-color: rgb(255, 255, 255);
    left: 0px;
    right: 0px;
    margin: 0 18px;

}
.slider-show{
    width: 100%;
    height: 181px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.11);
    margin: 27px 5px 0 5px;

}
.slider-wrapper{
    display: flex;
    justify-content: center;
}
.navbar-nav .nav-item{
    padding-left: 15px;
}
.lorem-head{
    opacity: 0.84;
    font-family: Averta;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.57;
    letter-spacing: normal;
    text-align: left;
    color: #8591b0;
    padding: 0 10px;
}

.lorem-desc{
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: left;
    color: #0e0e77;
    padding: 0 10px;
}
.footer-wrapper{
    background-image: url('../assets/footer-bg.png');
    background-repeat: no-repeat;
    height: 165px;
    background-size: 100% 100%;
  

}
.section-desc-wrapper{
    margin-top: 21px;
}
.para{
    margin: 0;
}
.contact{
    display: none;
    border-radius: 13px;
    background-color: #fff;
    border: solid 1px #fff;
    font-size: 8px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    text-align: left;
    color: #0e0e77;
    margin-left: 35px;
    padding: 8px 19px;
}
.navbar-nav .nav-item.nav-menu-list-item a{
    color:black;
    font-size: 8px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    text-align: left;
}
.copy-rigths{
    display: none;
}
.navigation-wrapper{
    display: none;
}
.copy-rigths{
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9a9a9a;
    padding-top: 145px;
    padding-left: 35px;

}
.navigation-wrapper{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.navigation-wrapper a{
    margin: 0 8.5px;
}
.row.section-container{
    margin:0;
}


@media screen and (min-width:760px){
    .header-section-wrapper{
        background-image: url('../assets/desktop-header-bg.png');
        padding: 39px 69px 0 69px;
        background-position: 222px 0;
    }
  
}


@media screen and (min-width:768px){
    
    .header-section-wrapper{
        background-position: 222px 0;
    }
    .navbar.navbar-expand-sm .logo{
        z-index: 100;
    }
    .header-section-wrapper .navbar.navbar-expand-md .collapse.navbar-collapse.dropdown-menu{
        top:0;
        z-index: 1;
        background-color: transparent;
        border: none;
    }
    .navbar-nav .nav-item.nav-menu-list-item a{
        font-family: Averta; 
        color: #ffffff;
    }
    .contact{
        display: block;
    }
    .section-container{
        display: flex;
        flex-direction: row-reverse;
        margin-top: 111px;
    } 
    .section-desc-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;    
        
    }
    .slider-show {
        height: 256px;
    }
    .footer-wrapper{
        background-image: url('../assets/desktop-footer-bg.png');
        background-position: bottom;
        background-size: cover;
        height: 298.9px;
        display: flex;
        justify-content: space-between;
        padding: 0 56px;
        background-size: 100% 100%;
    }
    .copy-rigths{
       display: flex;
    }
    .navigation-wrapper{
        display: flex;
        
    }    
}

@media screen and (min-width:992px){
    .header-section-wrapper{
        background-position: top right;
    }
}